
body { font-size: 3em; color: blue;
background: #fcfaf9; 
background: -moz-linear-gradient(top,  #fcfaf9 0%, #000002 49%, #070106 56%, #e5e5e5 100%); 
background: -webkit-linear-gradient(top,  #fcfaf9 0%, #000002 49%, #070106 56%, #e5e5e5 100%); 
background: linear-gradient(to bottom,  #fcfaf9 0%, #000002 49%, #070106 56%, #e5e5e5 100%); 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fcfaf9', endColorstr = '#e5e5e5', GradientType = 0); 
}


#error { color: red; }